.alert {
    border: 0.5px solid snow;
    padding: 10px;
    border-radius: 5px;
}

.warning {
    background-color: rgb(184, 122, 6);
}

.danger {
    background-color: tomato;
}

.success {
    background-color: teal;
}

.info {
    background-color: slateblue;
}